<ul>
  <% @subs.each do |sub| %>
    <li>
      <a class="post-card" href="<%= sub_url(sub) %>"><%= sub.title %></a>
    </li>
  <% end %>
</ul>
<a href="<%= new_sub_url %>">Create a new subfreddit!</a>