header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid lightgray;
}

.logo {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 20px;
}

.logo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.login-signup-buttons {
  display: flex;

}

.button {
  border: 1px solid #0079D3;
  border-radius: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: smaller;
  margin: 0 3px 0 3px;
}

.blue-button {
  color: white;
  background: #0079D3;
}

.white-button {
  color: #0079D3;
}