.subs-index-main {
  background: #DAE0E6;
  display: flex;
}

.subs-index-main-column {
  width: 730px;
  margin: auto;
  height: 100%;
}

.post-card {
  display: block;
  background: white;
  margin: 10px 0 10px 0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: black;
}

.post-card:hover {
  border: 1px solid gray;
}